* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    min-height: 100vh;
}
header {
    width: 100vw;
    height: 70px;
    /*height: 15vh;*/
    background-color: purple;

    display: flex;
    
    
}

.listnav {
    
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
    width: 100%;
    

}
.listnav li {
    list-style: none;
    display: inline-block;
    font-size: 15px;
    position: relative;
    padding: 1.8rem 1rem 1.8rem 1rem;
    padding-bottom: 1.8rem;
    cursor: pointer;
    color: aliceblue;
}

.imgLogo {
    position: relative;
    width: auto;
    /*margin-right: 150px;*/
    display: none;
}

main {
    width: 100vw;
    height: auto;
    /*height: 70vh;*/
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
}
section {
    width: 100vw;
    
    height: auto;
    background-color: #FAC0F8;
    order: 1;
    text-align: center;
    
    padding-top: 20px;
    padding-bottom: 20px;
}
.ImgCentral, .InfoCentral {
    width: 90%;
    margin: 0 auto;
    
}
section .ImgCentral h1 {
    font-size: 40px;
    font-weight: bold;
    text-shadow: 4px 4px 5px;
}
section .ImgCentral img {
    border: 1.7px black dotted;
    border-radius: 10px;
    max-width: 95%;
}
section .ImgCentral img, .InfoCentral {
    margin-top: 2rem;
    
        
}
.InfoCentral p {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 0.5rem;
    max-width: 95%;
    margin: 0 auto;

    text-align: center;
    
    
}
aside {
    width: 100vw;
    height: auto;
    background-color: #EE93EE;
    display: flex;
    flex-wrap: wrap;
    order: 2;

    /*text-align: center;*/
    justify-content: space-evenly;
    

}

.box {
    width: 50%;
    text-align: center;
    
}

.box img {
    /*position: relative;*/
    min-width: 17rem;
    height: 8.5rem;
   
    border: 1px black dotted;
    
    margin-top: 0.7rem;
    border-radius: 10px;
}

#box3 img, #box4 img {
    margin-bottom: 0.6rem;
}

footer {
    width: 100vw;
    height: auto;
    background-color: purple;

    display: flex;
    flex-wrap: wrap;

    
}

footer .legend, .listContact, .socialNet {
    position: relative;
    width: 100%;
    margin-top: 1.8rem;
    margin-bottom: 1.8rem;

    
}

.legend p {
    font-size: 15px;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    color: aliceblue;

    text-align: center;
}

.listContact {
    list-style: none;
    text-align: center;
       
}

.listContact li {
    font-size: 15px;
    padding: 0.5rem 5rem 0.5rem 5rem;
    color: aliceblue;
   
}

.socialNet {
    text-align: center;
}

.socialNet .socialIcon {
    width: 40px;
    height: 40px;
    display: inline;
    
    padding-top: 1.4rem;
    padding-right: 0.7rem;
    cursor: pointer;
}

@media (min-width: 700px) {
    .listnav li {
        font-size: 16px;
    }
    .box {
        width: 25%;
    }
    #box1 img, #box2 img {
        margin-bottom: 0.6rem;
    }
    .listnav {
        width: 50%;
        display: inline;
        text-align: right;
        margin-right: 1rem;
        position: relative;
    }
    .imgLogo {
        width: 50%;
        display: inline;
        position: relative;
    }
    .logo {
        width: 8rem;
        height: 5.5rem;
        margin: 0.8rem 1rem;
        
    
    }
    footer .listContact, .socialNet {
        width: 50%;
    }
}

@media (min-width: 900px) {
    body {
        min-height: 100vh;
    }
    
    header {
        height: 15vh;
    }
    .logo {
        width: 9rem;
        height: 7rem;
        margin-top: 1.2rem;
    }
    .listnav li {
        font-size: 17px;
        margin-top: 1rem;
    }
    main {
        height: 70vh;
    }
    
    aside {
        width: 18%;
        /*height: auto;*/
        order: 1;
    }
    section {
        width: 82%;
        /*height: auto;*/
        order: 2;
    }
    .box {
        width: 100%;
        text-align: center;

        position: relative;
        
    }
    .box img {
        
        width: 90%;
        min-width: 15rem;
        max-width: 20rem;
        height: 9.8rem;
        
        border: 1px black dotted;
        margin: auto;
        margin-top: 0.7rem;
        
        border-radius: 10px;
    }

    footer {
        
        height: 15vh;
    }

    footer .legend {
        width: 33%;
        margin-top: 2.5rem;
    }
    footer .listContact {
        width: 33%;
        margin-top: 2.7rem;
    }
    footer .socialNet {
        width: 33%;
        text-align: right;
        margin-top: 2.7rem;
    }
}